.App, .wormhole-b-container {
  background-color: white;
  position: relative;
  width: 100vw;
  height: 300px;
}

.wormhole-a {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: black;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.starship {
  width: 80px;
  height: 80px;
  font-size: 60px;
  float: left;
}

.wormhole-b {
  position: absolute;
  left: 20px;
  top: 10px;
  background-color: blue;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}